/* google fonts */
/* font-family: 'Lora', serif; */
/* font-family: 'Roboto', sans-serif; */

body{
    background-color:lightgrey;
    font-family: arial, serif;

}

h1, h2{
  Color:rgb(100,100,100);
  font-family: times, serif;
  font-weight : bolder;
  letter-spacing: 8px;
}

h3{
  font-family: times, serif;
  font-weight: 100;
  letter-spacing: 5px;
  Color:rgb(80,80,80);
}

p{
    text-justify:center;
    Color:rgb(125,125,125);
}

li{
    text-justify:center;
    Color:rgb(125,125,125);
    margin-bottom: 5px;
}

a{
	text-decoration: none;
    Color:rgb(125,125,125);
    transition: color 0.3s ease;
}

a:hover{
  Color:rgb(50,50,50);
}



/*Specifique*/

#PhotoClem {
    width: 400px;
    border-radius: 10%;
    filter : drop-shadow(10px 10px 8px rgb(50,50,50))
    
}

#titre{
    width: 75%;
    margin: 0 auto;
    background: rgb(240,240,240);
    border: 1px solid rgb(50,50,50);
    padding : 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(50,50,75,.5) ;

}

#titre p{
    margin-bottom: 20px;
}

.socialNetwork{
    list-style: none;
    width: 60%;
    margin: 0 auto;
    padding : 20px;
    text-justify:center;

}

.socialNetwork li {
    display: inline;
    padding : 5px;
}


.container{
    width: 95%;
    margin: 30px auto;
}

@media (max-width : 760px){
    .container{
        margin: 20px auto;
    }
}

@media (max-width : 400px){
    .container{
        margin: 10px auto;
    }
}

.card-white{
    width: 60%;
    margin: 20px auto;
    background: rgb(230,230,230);
    border: 1px solid rgb(50,50,50);
    padding : 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(50,50,75,.5) ;
}




/*****
    // pour faire sur plusieurs éléments il faut utiliser class="toto truc" class combiné
    // et dans le css : .toto{} .truc{}  class 
    */
